<html>
    <head>
        <title>Librarian</title>
    </head>
    <body>
        <h1>Librarian page</h1>

        <form action = '/librarian' method='post'>

            <input type='text' id= 'title' name='title'>
            <label for='title'>Add a Title</label>

            <input type='text' id= 'author' name='author'>
            <label for='author'>Add an Author</label>

            <input type='number' min='1' max='5000' id= 'copies' name='copies'>
            <label for='copies'>Add number of copies</label>

            <button type= 'submit'>Add Book</button>
        </form>

        {% if books is not empty %}
                <h4>List of books:</h4>
                <form action='/delete_all_books' method='post'>
                    <button type='submit'>Delete All Books!</button>

                </form>
            {% for book in books %}
            {% set book_authors = book.getAuthors %}

                <p><strong><a href='/book/{{ book.getId }}/edit'>{{ book.getTitle }} </a><strong>
                    Copies: {{ book.countCopies }}</p>

                {% for author in book_authors %}
                    <ul>
                        <li>{{author.getAuthorName}}</li>
                    </ul>
                {% endfor %}
                <form action="/book/{{book.getId}}/delete" method='post'>
                    <input name="_method" type="hidden" value="delete">
                    <button type='submit'>Delete</button>
                </form>
            {% endfor %}
        {% endif %}

    </body>
</html>
